test/testenv
runtime/.pyenv
rosetta_runtime.egg-info
python_cdm.egg-info
test/serialization/__pycache__
.DS_Store
target/python/.pyenv/
target/python/build/
target/python/4_0_0/.pyenv/
*.pyc
target/python/4_0_0/build
